
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container bg-white">
    <div>
        <br />
        <h1 class="text-center">Hakkımızda</h1>
        <br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut orci ut quam consectetur volutpat. Nulla id ipsum porta, pellentesque diam sed, pharetra orci. Integer fermentum vitae elit non mattis. Maecenas placerat imperdiet purus, ullamcorper venenatis neque vulputate ac. Morbi quis tellus tellus. Suspendisse posuere aliquam ex, ac efficitur orci vulputate sed. Fusce porta quam eu tempor venenatis. Nunc et metus eros. Duis tristique et elit id semper. Nulla at lorem in nisi euismod pulvinar. Donec sed tortor eget metus pulvinar fermentum. Nam condimentum malesuada nisi, ac laoreet magna tristique vitae.

            Donec convallis justo ac quam vehicula faucibus. Ut sed turpis tristique, euismod enim in, eleifend mauris. Nullam eget convallis augue, pharetra dignissim diam. Cras feugiat metus nec lobortis tempus. Quisque lectus orci, lobortis nec efficitur ac, auctor in nisl. Suspendisse sit amet dapibus orci, sit amet dignissim arcu. Aenean ipsum sapien, rutrum nec pulvinar posuere, lobortis vitae est. Phasellus vitae porta sem. Proin ut risus et ante cursus gravida. Aenean pulvinar placerat enim eu rhoncus. Morbi pulvinar tincidunt enim vitae sodales. Aliquam vestibulum vel nulla non euismod. Ut dolor velit, maximus aliquam euismod ut, dapibus eget augue. Nunc ullamcorper sit amet dui sit amet ultrices. Etiam vel ipsum elementum, laoreet ipsum et, mollis purus. Maecenas sodales et metus vitae porta.
        </p>
    </div>
</div>
